---
import Hero from '~/components/widgets/Hero.astro';
import Layout from '~/layouts/PageLayout.astro';
import Content from '~/components/widgets/Content.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import mikuwuImg from '~/assets/images/mikuwu.jpg';
import adachiImg from '~/assets/images/adachi.jpg';

const metadata = {
  title: 'About us',
};
---


<Layout metadata={metadata}>

  <Hero
   image={{ src: '~/assets/images/team.jpg', alt: 'banner' }}
  >
    <Fragment slot="title">
      Qui sont les <br />
      <span class="text-accent dark:text-white"> Miko</span> gardienne   <br />de ce sanctuaire du Yuri
    </Fragment>

    <Fragment slot="subtitle">
      Passionnées par le yuri, nous avons créé ce sanctuaire pour partager notre amour et nos découvertes. Faciliter la découverte de nouveaux titres et de nouvelles histoires en français, ainsi que la promotion des œuvres de yuri. Créer un espace où les fans peuvent se rassembler, discuter et partager leur passion pour le yuri.
    </Fragment>
  </Hero>
   <Content
    isReversed
    title="Mikuwu"
    items={[ 
      {
        title: '🌸ohayo 🌸',
        description:
        "Juste une meuf random qui joue à des jeux de rythme weeb et regarde des animes, fan de neko et yuri. Et une grosse simp de Bocchi The Rock. J'adore jouer à des jeux de rythme (genre vraiment beaucoup), genshin impact et minecraft. J'aime aussi énormément la musique(Metal, j-core, speedcore future funk). Ah et mon chat aussi il est beau.",
        
      },
      {
        title: "Comment j'ai connu le yuri",
        description:
           "J'ai commencé les Yuris par citrus lorsqu'il est sortie en anime (donc en 2018), je suis tombée sous le charme du yuri de ce qu'il propose, représente. La manière de raconté la rommence entre filles, Les sentiments, les émotions etc.. Depuis je suis toujours à la recherche de nouveaux Yuris à découvrir, que ce soit en manga, anime ou jeux vidéo !",
      },
      {
        title: 'Mon rôle dans Yume Yuri',
        description:
          "Nerd que je suis je m'occupe du développement du site et de tout ce qui touche à l'aspect technique du site. Qui fonctionne évidement Grace au Yuri !  ",
      },
    ]}
    image={{
      src: mikuwuImg,
      alt: 'Colorful Image',
    }}
  >

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-[#1C1117] dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isAfterContent
    title='Sakura Adachi'
    items={[ 
      {
        title: 'Bonjour',
        description: "Je suis sakura adachi, j'aime bien le power metal, les animes/mangas (weeb) plus précisément le genre yuri et comme mon pseudo l'indique: j'adore «Adachi to Shimamura» !!! Je joue au jeux vidéos depuis ma plus tendre enfance (très jeune), je joue régulièrement à différent type de jeu mais cela dépend beaucoup de la période. (Parmi mes favoris: Minecraft, osu!, Counter Strike, Code Vein)",
      },
      {
        title: 'Comment ai-je connu le Yuri ? ',
        description:
          "Mon anecdote est nulle mais j'ai demandé à chatGPT de me donner un anime yuri a regarder et il m'a proposé «Citrus» et même si c'est chelou bah j'ai kiffer du coup j'ai enchainer avec d'autres comme: «Bloom Into You» ou «Netsuzou TRap NTR». Puis j'ai commencé à lire les mangas et un jour j'ai découvert le saint graal: «Adachi to Shimamura» (svp une saison 2) Effectivement j'ai découvert le genre assez récemment !",
      },
      {
        title: 'Mon rôle dans Yume Yuri',
        description:
          "Contrairement à ma super collègue je n'ai pas de talent en développement web, en conséquence, c'est moi qui m'occupe de la recherches et du rassemblements des informations utilisées dans ce projet.",
      },
    ]}
    image={{
      src: adachiImg,
      alt: 'Blueprint Image',
    }}
  >

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-[#1C1117] dark:bg-transparent"></div>
    </Fragment>
  </Content>
   <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Discord',
        href: 'https://discord.gg/YyG3CmHTWh',
        target: '_blank',
        icon: 'tabler:brand-discord',
      },
    ]}
  >
    <Fragment slot="title">
     Des questions sur nous ? 
    </Fragment>

    <Fragment slot="subtitle">
      Notre discord est là pour répondre à toutes vos questions, n'hésitez pas à nous rejoindre pour en discuter.
    </Fragment>
  </CallToAction>
</Layout>
